* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.contenedor{
    background-color: ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.type-a {
    width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c4b8b8;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-inside-img {
    height: 60px;
}

.type-b {
    width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#999898;
    padding: 10px;

}





#mountain-front {
    background-image: url(src/imgmountain.jpg);
}

#lake-front {
    background-image: url(src/imglake.jpg);
}

#ocean-front {
    background-image: url(src/imgocean.jpg);
}
