* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_video {
    opacity: 1;
    width: 100%;
    height: 100%;
    
}

.text_container{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin-top: 20vw;
}

.text_video_up {
    font-size: 1.5vw;
    text-align: center;
    width: inherit;
    color: white;
}

.text_video_down {
    font-size: 3vw;
    text-align: center;
    width: inherit;
    color: white;
}
