
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;   

}

.contenedor_uno{
    background-image: url(src/ejercicio-ajedrez.jpg);
    background-size: 100% 100%;
    width: 400%;
    display: flex;
    justify-content: center;
    height: 300%;
    flex-wrap: wrap;

}
.titules {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin:0px;
 
}
.titules_first {
    margin: 0px;
    font-size: large;

}
.titules_second > .subtitulo {
    margin: 0px;
    display: flex;
    font-size: 11px;
    font-style: italic;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 7px;
}

.contenerdor-padre {
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: fixed;
    width: 60%;
    display: flex;  
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;

}
.nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding-bottom: 8px;


}
.nombre_dentro {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-bottom: 5px;
    font-size: large;

}
.recomendaciones {
    display: flex;
    justify-content: center;
}

.subtitulo{
    font-size: smaller;
    font-style: italic;
    justify-content: center;
    font-weight: bold;


}
.form__statement {
    display: flex;
    justify-content: center;
    font-size: 19px;
    
    
}
.form__master {
    width: 50%;
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    
}

.input_size{
    display: flex;
    align-content: flex-end;
    justify-content: center;


}
.recomendation{
    padding-top: 8px;
    font-size: large;

}
.form__checks{
    display: flex;
    flex-direction: column;

}
.form__checks_space{
    padding-top: 15px;

}

.radio__statement {
  display:flex;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 8px;

}
.radio__statement__in{
    padding-right: 10px;

}

.rol_style{
    width: 349px;
    height: 25px;
    display: flex;
    align-content: center;
    flex-direction: column;
}
input:invalid{
    border-color: grey;
}

/* modificacion o customizacion de los input tanto de tipo number como los radio*/


input[type=number]{
    width: 350px;
} 
input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #f8faf8;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;

    position: relative;
    background-color: #7e7d7c;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
